.zoe {
  margin: 0 auto;
  width: 710px;
}
.info-header-name-wrap {
  width: 100%;
  margin-top: 46px;
  overflow: hidden;
  text-align: center;
  .info-header {
    width: 143px;
    height: 143px;
  }
  .info-username {
    margin-top: 34px;
    margin-bottom: 0;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
  }
  .sex {
    color: #30C0FD;
    font-size: 32px;
  }
}

.list-wrap-school-info {
    margin-top: 79px;
    font-size: 32px;
    color: #747e7f;
    .left {
      font-size: 24px;
    }
    .right {
      font-size: 26px;
    }
    p {
      height: 57px;
      line-height: 57px;
    }
  }

  .my-zoe {
    margin-top: 30px;
    color: #666;
    .left {
      font-size: 26px;
      font-weight: bolder;
      .iconfont {
        margin-right: 15px;
        font-weight: 500;
        font-size: 50px;
        color: #7dd5fb;
        display: inline-block;
        vertical-align:middle;
      }
    }
    .right {
      font-size: 24px;
      .iconfont {
        font-size: 30px;
        color: #4cc5fa;
      }
    }
    p {
      height: 57px;
      line-height: 55px;
      color: #555;
    }
  }


